<header>
    <h1>OG 151 Pokedex</h1>
</header>
<nav>
    <a href="/pokemon/new">A Wild Pokemon Appears!</a>
</nav>
<main>
    <div class="container">
        <h2> The Pokemanz</h2>
        <ul>
            <% for(let i = 0; i < poke.length; i++) {%>
                <li>
                    <a href="/pokemon/<%=i%>">
                    <img alt="<%=poke[i].name%>" src=<%=poke[i].img%>>
                </a>
                </br>
                    <h3><%=poke[i].name%></h3><br />
                    <form action="/pokemon/<%=i; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
                    </form>
                    <a href="/pokemon/<%=i; %>/edit">Edit</a>
                </li>
                </br>

            <%}%>
        </ul>
    </div>
</main>