<!DOCTYPE html>
<html>
  <head>
 <%- include('./partials/header.ejs')%>
  </head>
  <body>
    <div class="body-overlay">
        <header>
            <h2>Pokedex</h2>
            <ul>
                <li><button ></button></li>
            </ul>
        </header>
        <br>
            <h1><%=poke.name%></h1>
        </br>
            <img alt=<%=poke.name%> src=<%=poke.img%>></br> 
            Type: <%=poke.type; %>
        </br>
        </br>
            HP: <%=poke.stats.hp%></br>
            Attack: <%=poke.stats.attack%></br>
            Defense: <%=poke.stats.defense%></br>
        </br>
        </br>
            <a href="/pokemon/edit">Edit Info</a>
            <a href="/pokemon">Back to Pokedex</a>
    </div>
  </body>
</html>